/* media queries */
@desktop_large:   	~"only screen and (min-width: 1440px)";
@desktop:   		~"only screen and (min-width: 1440px)";
@tablet:    		~"only screen and (min-width: 480px) and (max-width: 1024px)";
@phone_large:		~"only screen and (max-width: 480px)";
@phone_small:		~"only screen and (max-width: 320px)";

/* dimensions */
@nav_width: 160px;
@page_margin: 20px;
@finger_height: 44px;
@footer_height: 100px;
@header_padding: 105px;
@header_padding_mobile: 80px;

/* colors */
@link_color: black;
@link_hover_color: gray;
@tile_background: white;
@icon_gray: #C3C3C3;